@keyframes spin-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 3s linear infinite;
}

.animate-spin-reverse-slow {
  animation: spin-reverse 6s linear infinite;
}